.buttonForMenu {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin:0 auto ;
    display: block;
    width: 50%;
    height: 10%;
}

.buttonForMenu:hover {background-color: #3e8e41}

.buttonForMenu:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    text-align: center;
}