<!DOCTYPE html>
<html xmlns:th=”http://www.thymeleaf.org” xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<header th:insert="header :: header"></header>
<label class="fs-2">Existing house:</label>
    <label class="fs-2" th:text="${numbers}"></label>
<form action="/compareHouses-2-step" method="post">
    <label >Choose street for first House:
        <select name="street1" class="form-control"  >
            <option th:each="elem:${streets}" th:value="${elem.name}" th:text="${elem.name}" ></option>
        </select>
        <label >Choose street for second House:
            <select name="street2" class="form-control"  >
                <option th:each="elem:${streets}" th:value="${elem.name}" th:text="${elem.name}" ></option>
            </select>
        <input  type="submit" value="Send">
    </label>
</form>
</body>
</html>