<!DOCTYPE html>
<html xmlns:th=”http://www.thymeleaf.org” xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<header th:insert="header :: header"></header>
<h1>Existing house:</h1>
<h1 th:text="${numbers}"></h1>
<form  action="/removeHouse" method="post">
    <div class="tab">
        <p>Input number of House:</p>
        <input name="numberOfHouse" type="number" max="150" min="1" required>
        <input type="hidden" name="street" th:value="${street}">
        <input type="submit"  value="Next">
    </div>
</form>
</body>
</html>